@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fFOne: "Montserrat", sans-serif;
  --fFTwo: "Orbitron", sans-serif;
  --theme-color: #ffc000;
  --smoke-color: #f5f5f5;
  --black-color: #000000;
  --white-color: #ffffff;
  --background-color: #0e0e0e;
}

body {
  background-color: #0e0e0e;
}

html {
  scroll-behavior: smooth;
  font-family: var(--fFOne);
  scroll-padding-top: 12vh;
}

.svg {
  fill: currentColor;
  height: auto;
  max-width: 66vmin;
  transform-origin: center;
  width: 66%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation-name: spin;
  animation-duration: 3s; /* change this value to modify the spin time */
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-iteration-count: infinite;
}

@layer components {
  .container {
    @apply px-5 max-w-[1440px] mx-auto md:px-10 lg:px-14;
  }
  .primary-text {
    @apply text-[var(--theme-color)];
  }

  .primary-bg {
    @apply bg-[var(--theme-color)];
  }
}
